
body{
  text-align: center;
  background-color: #B4D8D6;
  font-family: Helvetica;
}

div{
  color: #009EB7;
  background: white;
  text-align: center;
  font-size: 20px;
}

button{
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-family: Helvetica;
  background: #5599FF;
  border: none;
  border-radius: 5px;
  color: white;
}